.noteContainer {
    padding: 5px!important;
    margin-top: 17px!important;
    margin-bottom: 10px;
    background-color: #F0F0E6!important;
    width: 60%;    
    box-shadow: 1px 3px 3px 3px;
    transition: 0.3s;
    color: #246D82;
    object-fit: contain;
    width: 30rem;
    align-items: center;
    border-radius: 1rem;
    border: 5px solid #74e0aa;
}

.noteForm {
    margin: 50px 80px 50px 80px;
    padding: 30px;
    background-color: #F0F0E6;
    color: #246D82;
    border: #74e0aa solid 5px;
    border-radius: 6px;
    line-height: 2em;
    opacity: .98;
}

.btn {
    max-width: 6em;
    padding: .5em;
    margin: .3em auto;
    background-color: #BCA4BF;
    border: none;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: black;
}

.button {
    width: 200px;
    margin: 2em;
    display: inline;
    padding: 0em;
}

.noteTitle{
    font-weight: bolder;
    font-size: medium;
}

